<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add value="C:\Program Files (x86)\HP Inc\QSNetBoot Setup\QSNetBoot.exe" key="QSNetBootLocation"/>
    <add value="www.baidu.com" key="PingTarget"/>
    <add value="0" key="IntervalHour"/>
    <add value="2" key="IntervalMin"/>
    <add value="0" key="IntervalSec"/>
  </appSettings>
</configuration>